.c-library-selector__trigger {
    background: linear-gradient(145deg, #2a2a2a, #1a1a1a);
    color: white;
    border: unset;
}

.c-library-selector__content {
    background: linear-gradient(145deg, #2a2a2a, #1a1a1a);
    color: white;
    border: unset;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}