.herobanner {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    h1 {
        font-family: var(--font-deezer);
        font-weight: 800;
        font-size: 10rem;
        font-weight: 800;
        line-height: .9;
        text-transform: uppercase;
        text-wrap: balance;

        * {
            font: inherit;
        }
    }

    p {
        font-family: var(--font-deezer);
        font-size: var(--subtitle-fontsize);
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 0.75rem;
    }

}

@media screen and (max-width: 768px) {
    .herobanner {
        h1 {
            font-size: 5rem;
        }

        p {
            font-size: 1.25rem;
        }
    }
}