.container {
  background-color: hsl(var(--secondary));
  color: hsl(var(--secondary-foreground));
  padding: 0 4rem;
  border-bottom: 1px solid hsl(var(--secondary-foreground), 0.1);

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    min-height: 5rem;
    height: fit-content;

    &>div {
      display: inline-flex;
      gap: 1rem;
      align-items: center;
    }

    .logo {
      font-size: 1.75rem;
      font-family: Deezer;
      letter-spacing: 2;
    }


    .nav {
      display: flex;
      gap: 1rem;
      align-items: center;

      .link {
        font-size: 0.875rem;
        font-weight: 600;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        transition: background-color 0.2s ease-in-out;

        &:hover {
          background-color: hsl(var(--secondary-foreground), 0.1);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 1rem;

    .content {
      .nav {
        display: none;
      }
    }
  }

}

@media screen and (max-width: 480px) {
  .container {
    padding: 1rem;

    .content {
      min-height: unset;

      &>a {
        aspect-ratio: unset;
      }
    }
  }
}