.container {
  padding: 1rem;
  display: flex;
  gap: 1rem;

  aside {
    max-width: 256px;
    width: 100%;
    display: flex;
    flex-direction: column;

    a,
    button {
      justify-content: flex-start;
      width: 100%;
    }
  }

  &>div {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
